extends /layout/main

block head
  link(rel="stylesheet", type="text/css", media="all", href="/styles/dashboard.css")

block body
  if projects.length === 0
    div.row: div.column.alert
      h3 No repositories found!
      p AppHub needs a GitHub repository to work with.
  else
    div#projects
      div.repo-wrap(v-for="project in projects"): div.repo
        div
          img(src="/images/application-default-icon.png").app-icon
          div
            p {{project.name}}
            p.subtext: a(href="https://github.com/{{project.github.owner}}/{{project.github.name}}") {{project.github.owner}}/{{project.github.name}}
        div.right
          include /partials/status/new

  script(type="text/javascript", src="/scripts/add.bundle.js")
