extends /layout/main

block body
  div.grid
    div.two-thirds.scrollbox
      h2 Terms of Service
      h5 Last updated January 13, 2017
      p By accepting the Terms of this agreement you agree to be bound by the following Terms and Conditions of Use. If you do not agree with any these Terms, you are prohibited from making use of this website (the "Service") to distribute your application (the "Software").
      h5 Distribution
      p You agree that you own the rights to redistribute the Software through our Service, including commercial rights if you have marked the Software for monetization.
      p You agree to give elementary LLC. ("elementary", "us", "we", "our") the rights to redistribute the Software through our Service.
      p We have the right to remove the Software from our Service and discontinue our Service at any time.
      h5 Monetization
      p We will facilitate voluntary payment from users of elementary OS for the Software that you have marked for monetization.
      p Each payment is split between you and elementary 70/30, with a minimum payment to elementary of $0.50 to cover distribution and payment processing.
      p For example: with a $10 payment, $3 is paid to elementary and $7 is paid to you. For a $1 payment, $0.50 is paid to elementry to cover distribution and payment processing while $0.50 is paid to you.
      p You agree to Stripe's <a href="https://stripe.com/us/connect-account/legal">legal agreement</a>.
      p You are responsible for reporting taxable income as required by your local government.
      p You agree that Revenue will be paid out to you at a schedule as determined by Stripe.
      h5 Limitation of Liability
      p In no event shall either party be liable to the other for any indirect, special or consequential damages (including but not limited to loss of anticipated profits) in connection with or arising out of this agreement or the furnishing, functioning, use, distribution or marketing of the Software or any related item or Service provided by software owner or publisher.
      h5 Changes
      p We reserve the right, at our sole discretion, to modify or replace these Terms at any time. By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.
    div.two-thirds.action-area
      a(href="/auth/logout").button.small-button Decline
      a(href="/agreement/accept").button.small-button.suggested-action Accept Terms
