extends /layout/main

block body
  div.row: div.column
    h3 You're on the waitlist.
    p Thanks for your interest in AppCenter! It's currently in an exclusive beta, but we're slowly sending out invites to select developers. You've expressed interest, so we'll check out your app. Keep an eye on your email for an invitation!
