extends /layout/main

block head
  link(rel="stylesheet", type="text/css", media="all", href="/styles/dashboard.css")

block body
  if projects.length === 0
    section.grid.alert: div.half
      img(src="/images/add-repo.svg")
      h3 Link a Repo to AppCenter
      p Install the AppCenter integration and select repositories to build by clicking "Manage Apps…" in the top left corner.
  else
    each project in projects
      div.repo-wrap: div.repo
        div
          if project.apphub.icon != null
            img(src="data:image/svg+xml;base64," + project.apphub.icon).app-icon
          else
            img(src="/images/application-default-icon.png").app-icon
          div
            p= project.name
            p.subtext: a(href="https://github.com/" + project.github.fullName, target="_blank")= project.github.fullName
        div.right
          include /partials/status
