extends /layout/main
include /partials/project

block head
  link(rel="stylesheet", type="text/css", media="all", href="/styles/dashboard.css")

block body
  if projects.length === 0
    section.grid.alert: div.half
      img(src="/images/add-repo.svg")
      h3 Link a Repo to AppCenter
      p Install the AppCenter integration and select repositories to build by clicking "Manage Apps…" in the top left corner.
  else
    each p in projects
      +project(p, true, false)
