extends /layout/main

block body
  div.row
    div.column.alert: i.warning.fa.fa-warning
    div.column.alert
      h3= error.status
      p= error.message
    if error.detail
      div.row
        pre= error.detail
    div.row
      a(href="/dashboard").button.suggested-action Go to the Dashboard
