extends /layout/main

block head
  link(rel="stylesheet", type="text/css", media="all", href="/styles/index.css")
  link(rel="stylesheet", type="text/css", media="all", href="https://elementary.io/styles/solarized_light.css")

block footer
  script(src="https://cdn.jsdelivr.net/g/highlight.js@9(highlight.min.js+languages/vala.min.js)")
  script(src="/scripts/highlight.js")

block body

  section.hero.dark
    div.grid
      div.whole
        img(src='https://elementary.io/images/icons/apps/128/system-software-install.svg', alt='AppCenter icon')
        h1 Publish on AppCenter
            sup BETA
        h4 An open, pay-what-you-want app store for indie developers
        if user
          a(href='/dashboard').button.suggested-action Welcome Back
        else
          a(href='/dashboard').button.suggested-action Log In with GitHub
      div.half

  section.docs
    a(href='https://elementary.io/docs/code/getting-started').card
      i.fa.fa-2x.fa-book
      h2 Get Started
      p Get a basic app running, built, and ready for distribution with our Getting Started guide
    a(href='https://elementary.io/docs/human-interface-guidelines').card
      i.fa.fa-2x.fa-pencil
      h2 Design
      p Learn about the design principles that make up apps on elementary OS.
    a(href='https://elementary.io/docs/code/reference').card
      i.fa.fa-2x.fa-code
      h2 Reference
      p Get more info about code style, reporting issues, and proposing design changes

  section.pitch-appcenter
    div
      img(src='https://elementary.io/images/screenshots/appcenter.png')
    div
      h2 Get In Front of Users
      ul.fa-ul
        li <i class="fa fa-star fa-li"></i> New apps get featured with a large, branded banner. Plus, trending and recently-updated apps are featured on the front page.
        li <i class="fa fa-search fa-li"></i> Define your app's keywords, categories, and subcategories to help people find it.
        li <i class="fa fa-share-alt fa-li"></i> With built-in social media sharing and app URLs, users can easily share your app right from AppCenter.
      a(href='https://elementary.io/docs/code/getting-started#the-desktop-file' target='_blank').read-more Learn more about app metadata

  section.tools.grey
    div
      h2 Monetize Your Work With Familiar Tools
    div
      div
        div.card
          img(src='/images/stripe_logo.svg')
          div.banner
            p Payments are split between you and elementary
            p.split 70 <span>/</span> 30
            p.small with a minimum platform fee of 50¢
          ul.fa-ul
            li <i class="fa fa-credit-card fa-li"></i> Fast, easy pay-what-you-want downloads from users of elementary OS.
            li <i class="fa fa-lock fa-li"></i> Powered by Stripe Connect ensuring simplicity, security, and compliance.
            li <i class="fa fa-thumbs-up fa-li"></i> No enrollment fees or subscription costs.
        p: a(href='https://github.com/elementary/houston/wiki/Monetizing-Your-App' target='_blank').read-more Learn more about monetizing your app

      div
        div.card
          img(src='/images/github_logo.svg')
          div.banner
            p Publish without distrupting your workflow
            div.workflow
              div
                i.fab.fa-3x.fa-github
                p.small Git Tag
              i.fa.fa-angle-right
              div
                i.fas.fa-3x.fa-cogs
                p.small Auto-Review
              i.fa.fa-angle-right
              div
                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4.2333 3.7042')
                  path(class='logotype-svg' style='text-align:start' d='m0.26314-0.0055-0.26458 0.79374v0.26458c0 0.52916 0.52916 0.52916 0.52916 0.52916 0.29315 0 0.52916-0.23601 0.52916-0.52916 0 0.29315 0.23601 0.52916 0.52916 0.52916s0.52916-0.23601 0.52916-0.52916c0 0.29315 0.23601 0.52916 0.52916 0.52916s0.52916-0.23601 0.52916-0.52916c0 0.29315 0.23601 0.52916 0.52916 0.52916 0 0 0.52916 0 0.52916-0.52916v-0.26458l-0.26458-0.79374zm0 1.8521v1.5875s0 0.26458 0.26458 0.26458h3.175c0.26458 0 0.26458-0.26458 0.26458-0.26458v-1.5875h-0.26458v1.5875h-0.52916v-0.92603c0-0.21987-0.177-0.39687-0.39687-0.39687s-0.39687 0.177-0.39687 0.39687v0.92603h-1.8521v-1.5875zm0.79374 0.26458v0.79374h0.79374v-0.79374z' fill='#fff')

                p.small Published
          ul.fa-ul
            li <i class="fas fa-code-branch fa-li"></i> Keep issue tracking &amp; release management where you're familiar.
            li <i class="fas fa-sync fa-li"></i> Submit updates and see review status in AppCenter Dashboard.
            li <i class="fab fa-github fa-li"></i> Track review feedback with GitHub Issues.
        p: a(href='https://github.com/elementary/houston/wiki/Submission-Process' target='_blank').read-more Learn more about the submission process

  section
    div.grid: div.two-thirds
      img(src='/images/vala.svg')
      h2 Vala. A Modern, Fast, Open Source Language.
    div.grid
      div.third
        i.fa.fa-cube
        p Familiar to anyone who's seen C#, but maintains API/ABI compatibility with C
      div.third
        i.fa.fa-rocket
        p Low memory requirements, native execution, and purpose-built for GObject
      div.third
        i.fa.fa-cogs
        p Signals, properties, generics, lambdas, assisted memory management, exception handling, type inference, async/yield & more
    div.grid: div.two-thirds
      pre.
        <code>public class MyApp : Gtk.Application {

            public MyApp () {
                Object (application_id: "com.github.myteam.myapp",
                flags: ApplicationFlags.FLAGS_NONE);
            }

            protected override void activate () {
                var window = new Gtk.ApplicationWindow (this);
                window.title = "MyApp";
                window.set_default_size (1024, 768);
                window.show_all ();
            }

            public static int main (string[] args) {
                var app = new MyApp ();
                return app.run (args);
            }
        }</code>

    div.grid
      div.whole
        p Full API documentation available on
        a(href="http://valadoc.elementary.io").button.suggested-action.valadoc: img(src='images/valadoc_logo.svg', alt='Valadoc', target='_blank')

  section.grey
    div.grid#beta: div.two-thirds
      img(src='https://elementary.io/images/icons/places/64/distributor-logo.svg')
      h2 Download elementary OS 5.0 Juno
        sup BETA
      p Build and release your apps for the upcoming version of elementary OS with this early preview. Juno brings new APIs, improved notifications, a new location agent, new Granite CSS constants, new icons, and tons more. Build feature-full apps easier than ever with Gtk 3.22 &amp; Vala 0.40.
      a(href='https://medium.com/p/418f5037e9bb' target='_blank').read-more Read the release notes
      p
        div.half: a(disabled).juno-download.button Download via HTTPS
        div.half: a(href='magnet:?xt=urn:btih:6e09d3f65e3a012aeac652f45df2962fd51b6b2f&dn=elementaryos-5.0-beta2.20180920.iso&tr=https%3A%2F%2Fashrise.com%3A443%2Fphoenix%2Fannounce&tr=udp%3A%2F%2Fopen.demonii.com%3A1337%2Fannounce&tr=udp%3A%2F%2Ftracker.ccc.de%3A80%2Fannounce&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80%2Fannounce&tr=udp%3A%2F%2Ftracker.publicbt.com%3A80%2Fannounce' target='_blank').button Download via Torrent

    div.grid
      div.third
        strong Multimedia & Web
        p: a(href='https://valadoc.org/gstreamer-1.0/Gst.html', target='_blank').read-more Audio & Video
        p: a(href='http://valadoc.org/libgda-5.0/Gda', target='_blank').read-more Database Management
        p: a(href='http://valadoc.org/libsoup-2.4/Soup', target='_blank').read-more HTTP Client/Server
        p: a(href='http://valadoc.org/json-glib-1.0/Json', target='_blank').read-more JSON
      div.third
        strong System
        p: a(href='https://valadoc.org/gio-2.0/GLib.Notification.html', target='_blank').read-more Notifications
        p: a(href='https://valadoc.org/libpeas-1.0/Peas.html', target='_blank').read-more Plugins
        p: a(href='https://valadoc.org/gio-2.0/GLib.Settings.html', target='_blank').read-more Settings
        p: a(href='http://valadoc.org/granite/Granite.Services.ContractorProxy', target='_blank').read-more System Actions
      div.third
        strong UI & Drawing
        p: a(href='https://valadoc.org/champlain-0.12/Champlain.html', target='_blank').read-more Maps
        p: a(href='https://valadoc.org/granite/Granite.html', target='_blank').read-more Granite
        p: a(href='https://valadoc.org/gtk+-3.0/Gtk.html', target='_blank').read-more Gtk+
        p: a(href='https://valadoc.org/sdl/SDL.html', target='_blank').read-more SDL
