<div id="nav-secondary" class="dark">
    <div class="left">
        <button id="mode" class="suggested-action">Done Selecting</button>
    </div>
    <div class="right">
        <a href="#"><span>Log Out</span><img class="avatar" src="{{user.avatar}}"/></a>
    </div>
</div>
