<a href="/project/gh/{{github.fullName}}/build">
    <i class="fa fab fa-arrow-up">
        <div class="popover-container">
            <div class="popover-content">
                <h2>Publish</h2>
                <p>Click to submit {{name}} {{#lastElement releases}}{{version}}{{/lastElement}} for review.</p>
                <p>Once it has been reviewed it will automatically be published in AppHub.</p>
                <h3>Changelog:</h3>
                <p>{{#lastElement releases}}{{items}}{{/lastElement}}</p>
            </div>
        </div>
    </i>
</a>
