<a href="#">
    <i class="fa fab fa-arrow-up">
        <div class="popover-container">
            <div class="popover-content">
                <h2>Publish</h2>
                <p>Click to submit your app for review.</p>
                <p>Once it has been reviewed it will automatically be published in AppHub.</p>
            </div>
        </div>
    </i>
</a>