<a href="#">
    <i class="fa fa-refresh">
        <div class="popover-container">
            <div class="popover-content">
                <h2>Automated Testing</h2>
                <p>{{name}} is being built and tested.</p>
            </div>
        </div>
    </i>
</a>

