<a href="https://github.com/{{repo.fullName}}/releases/new" target="_blank">
    <i class="fa fab fa-tag">
        <div class="popover-container">
            <div class="popover-content">
                <h2>Needs Release</h2>
                <p>Click to make a release of {{name}} on GitHub.</p>
                <p>You can then return here to publish that release on AppHub.</p>
            </div>
        </div>
    </i>
</a>
