<a href="#">
    <i class="fa fa-user">
        <div class="popover-container">
            <div class="popover-content">
                <h2>In Review</h2>
                <p>Your app is being reviewed by a human for quality.</p>
            </div>
        </div>
    </i>
</a>