{
  "presets": ["es2015"],
  "plugins": [
    "add-module-exports",
    "babel-root-import",
    "syntax-async-functions",
    "syntax-export-extensions",
    "transform-export-extensions",
    "transform-regenerator"
  ]
}
