{
  "presets": ["es2015"],
  "plugins": [
    ["babel-root-import", {
      "rootPathSuffix": "/"
    }],
    "syntax-async-functions",
    "syntax-export-extensions",
    "transform-export-extensions",
    "transform-regenerator"
  ]
}
