{
  "presets": [
    "es2015"
  ],

  "plugins": [
    "syntax-async-functions",
    "syntax-export-extensions",
    "transform-export-extensions",
    "transform-regenerator",

    ["webpack-alias", {
      "config": ".alias.js",
      "findConfig": true
    }]
  ],

  "comments": false
}
