# EditorConfig is awesome: http://EditorConfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space

[{*.js,*.jade}]
indent_size = 2

[*.css]
indent_size = 4
