<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">

        <link rel="stylesheet" type="text/css" media="all" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,300">
        <link rel="stylesheet" type="text/css" media="all" href="http://fonts.googleapis.com/css?family=Raleway:100">
        <link rel="stylesheet" type="text/css" media="all" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" media="all" href="http://elementary.io/styles/main.css">
        <link rel="stylesheet" type="text/css" media="all" href="styles/houston.css">

        <title>{{title}} &sdot; elementary</title>
    </head>
    <body>
        <nav class="nav">
            <div class="nav-content">
                <ul class="left">
                    <li><a href="http://elementary.io" class="logomark"><?php include __DIR__.'http://elementary.io/images/logomark.svg'; ?></a></li>
                    <li><a href="http://blog.elementary.io">Blog</a></li>
                    <li><a href="http://elementary.io/support">Support</a></li>
                    <li><a href="http://elementary.io/store">Store</a></li>
                </ul>
                <ul class="right">
                    <li><a href="http://elementary.io/developer">Developer</a></li>
                    <li><a href="http://elementary.io/get-involved">Get Involved</a></li>
                </ul>
            </div>
        </nav>
        {{{body}}}
    </body>
</html>
