<section class="hero dark">
    <h1>AppCenter: the new Wild West</h1>
    <h4>An open, pay-what-you-want app store for indie developers</h4>
    <a id="github-import" class="button suggested-action" href="#">Import your App from GitHub <i class="fa fa-github"></i></a>
</section>
<section>
    <div class="third">
        <h3>Approval in &lt; a week</h3>
        <p>Import your app from GitHub and we'll review it within one week. Plus it's available in our testing repository almost immediately so you can easily test across multiple devices.</p>
    </div>
    <div class="third">
        <h3>Deposits every day</h3>
        <p>Payments are deposited to your bank account the next day. No waiting around to get paid.</p>
    </div>
    <div class="third">
        <h3>$5/year + 20%</h3>
        <p>Pricing is simple and affordable. You pay only $5 per year plus 20% of sales for one of the first spots in an emerging marketplace.</p>
    </div>
</section>

