extends /layout/main

block body
  div.grid: div.two-thirds
    h3 Welcome to the Beta
    p Thanks for your interest in AppCenter! You are currently currently enrolled in an exclusive beta, allowing you access to all of AppCenter's features.
