extends /layout/main

block body
  div.grid: div.two-thirds
    if isBeta
      h3 You're on the Waitlist
      p Thanks for your interest in AppCenter! It's currently in an exclusive beta, but we're slowly sending out invites to select developers. You've expressed interest, so we'll check out your app. Keep an eye on your email for an invitation!
    else
      h3 AppCenter is in Private Beta
      p Thanks for your interest! We're slowly sending out invites to select developers. Request an invite and we'll email you when we open up to more accounts.

    if error
      span.form__error #{error}

    form(action="/beta" method="POST").form.form--horizontal
      div.form__block
        label(for="email").form__label Email
        input(type="text" name="email" placeholder="ellie@elementary.io" value=email).form__input
      div.form__block
        if isBeta
          input(type="submit" value="Update Email").form__button.button.suggested-action
        else
          input(type="submit" value="Request Invite").form__button.button.suggested-action
