mixin project(view, status = true, stripe = false)
  .repo
    .repo__container
      div.repo__icon
        if view.project.icon != null
          img(src="data:image/svg+xml;base64," + view.project.icon).app-icon
        else
          img(src="/images/application-default-icon.png").app-icon
      div.repo__body
        if view.release
          p #{view.project.name.human} #{view.release.version}
        else
          p #{view.project.github.human}
        p.subtext: a(href="https://github.com/" + view.project.github.name, target="_blank")= view.project.github.name
      div.repo__action
        if status === true
          if view.status === 'NEW'
            include /partials/status/new
          if view.status === 'STANDBY'
            include /partials/status/standby
          if view.status === 'QUEUE'
            include /partials/status/queue
          if view.status === 'RUN'
            include /partials/status/run

          if view.status === 'REVIEW'
            if policy.ifRole(user, 'review')
              include /partials/review
            else
              include /partials/status/review

          if view.status === 'FINISH'
            include /partials/status/finish
          if view.status === 'FAIL'
            include /partials/status/fail
          if view.status === 'ERROR'
            include /partials/status/error

        if stripe === true
          include /partials/stripe
