a(href="project/" + cycle.name + "/review/no")
  div.fab
    i.fa.fa-thumbs-o-down
    div.popover-container
      div.popover-content
        h2 fuel lines fluctuating
        p abort abort abort!

a(href="project/" + cycle.name + "/review/yes")
  div.fab
    i.fa.fa-thumbs-o-up
    div.popover-container
      div.popover-content
        h2 clear for takeoff
        p #{cycle.project.name} is ready for the real world
