a(href="project/" + view.project.name.domain + "/review/no")
  div.fab.error
    i.fa.fa-times
    div.popover-container
      div.popover-content
        h3 Request Changes
        p #{view.project.name.human} needs fixing

a(href="project/" + view.project.name.domain + "/review/yes")
  div.fab.success
    i.fa.fa-check
    div.popover-container
      div.popover-content
        h3 Approve
        p Release #{view.project.name.human} into AppCenter
