a(href="project/" + project.name + "/review/no")
  div.btn-fab.error
    i.fas.fa-times
    div.popover-container
      div.popover-content
        h3 Request Changes
        p #{project.name} needs fixing

a(href="project/" + project.name + "/review/yes")
  div.btn-fab.success
    i.fas.fa-check
    div.popover-container
      div.popover-content
        h3 Approve
        p Release #{project.name} into AppCenter
