a(href="project/" + cycle.name + "/review/no")
  i.fab.error.fa.fa-times
    div.popover-container
      div.popover-content
        h3 Request Changes
        p #{cycle.project.name} needs fixing

a(href="project/" + cycle.name + "/review/yes")
  i.fab.success.fa.fa-check
    div.popover-container
      div.popover-content
        h3 Approve
        p Release #{cycle.project.name} into AppCenter
