a(href="/project/" + cycle.project.github.fullName + "/review/yes")
  i.fab.fa.fa-check
    div.popover-container
      div.popover-content
        h2 clear for takeoff
        p #{cycle.project.name} is ready for the real world
a(href="/project/" + cycle.project.github.fullName + "/review/no")
  i.fab.fa.fa-times
    div.popover-container
      div.popover-content
        h2 fuel lines fluctuating
        p abort #{cycle.project.name}'s takeoff
