a(href="https://github.com/" + project.github.fullName + "/issues?q=is%3Aissue+is%3Aopen+label%3A" + project.github.label)
  i.fab.fa.fa-arrow-up
    div.popover-container
      div.popover-content
        h2 Building #{project.name}
        p This shouldn't take long
