i.fab.fa.fa-arrow-up
  div.popover-container
    div.popover-content
      h2 Already Published
      p Chill. It's all smooth sailing from here.
      p #{project.name} is avalible to the world on AppCenter.
      p If you make a new release on GitHub, just resubmit #{project.name}.
