a(href="https://github.com/" + project.github.fullName + "/issues?q=is%3Aissue+is%3Aopen+label%3A" + project.github.label)
  i.fab.fa.fa-arrow-up
    div.popover-container
      div.popover-content
        h2 Pre-testing #{project.name}
        p We will let you know by way of GitHub if we find anything noteworthy.
