<a href="#">
    <i class="fa fa-check">
        <div class="popover-container">
            <div class="popover-content">
                <h2>Already published</h2>
                <p>{{name}} is already published to the world.</p>
                <p>Make a new release on GitHub to update</p>
            </div>
        </div>
    </i>
</a>
