<a href="#">
    <i class="fa fa-user">
        <div class="popover-container">
            <div class="popover-content">
                <h2>Reviewing</h2>
                <p>{{name}} is being review by a human for quality.</p>
            </div>
        </div>
    </i>
</a>
