a(href="https://github.com/" + project.github.fullName + "/issues?q=is%3Aissue+is%3Aopen+label%3A" + project.github.label)
  i.fab.fa.fa-arrow-up
    div.popover-container
      div.popover-content
        h2 Reviewing #{project.name}
        p #{project.name} is being tested by a human for quality assurance.
        p Sit back and have a drink. We'll let you know if anything is amiss.
