<a href="/project/gh/{{github.fullName}}/initialize">
	<i class="fa fab fa-check">
		<div class="popover-container">
			<div class="popover-content">
			    <h2>Uninizalied Application</h2>
			    <p>Click to setup your application in AppHub.</p>
			</div>
		</div>
	</i>
</a>
