/*********************************************
* Copyright 2016 elementary LLC.             *
* This file is part of houston.elementary.io *
*********************************************/

/*************************
* Floating Action Button *
*************************/

.fab {
    background-color: #f9c440;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    position: relative;
    text-align:center;
    vertical-align: middle;
    width: 30px;
}

.fab.fa-tag {
    background-color: #f3f3f3;
    color: #888;
}

.fab.success {
    background-color: #68b723;
}

.fab.warn {
    background-color: #888;
}

.fab.error {
    background-color: #da4d45;
}

.fab::before {
    font-size: 14px;
}

.fab.fa-tag::before {
    -webkit-text-fill-color: #f3f3f3;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #888;
}

/************
* Repo list *
************/

.repo-wrap {
    color: #333;
    display: block;
    padding: 24px;
}

.repo-wrap:nth-of-type(even) {
    background-color: #fafafa;
}

.repo {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.repo > div {
    margin: 12px auto;
}

.repo > div > div {
    margin-top: 8px;
}

.repo .button {
    font-size: 12px;
    padding: 6px 12px;
    position: relative;
}

.repo .button {
    margin: auto 12px;
}

.repo .fab {
    margin: auto;
}

.repo p {
    margin: 0;
    padding-bottom: 3px;
    text-align: center;
    white-space: nowrap;
}

.repo .button > p {
    padding-bottom: 0;
}

.repo p a {
    color: #333;
    opacity: 0.65;
}

.repo p a:hover {
    color: #08c;
    opacity: 1;
}

.repo .app-icon {
    height: 64px;
    vertical-align: middle;
    width: 64px;
}

.repo > .right > * {
    display: inline-block;
    margin: 10px;
}

@media only screen and (min-width: 500px) {
    .repo {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        max-width: 600px;
        min-width: 400px;
        text-align: left;
        width: 80%;
    }

    .repo > div {
        margin: 0;
    }

    .repo > div > div {
        display: inline-block;
        margin: 0 0 0 8px;
        vertical-align: middle;
    }

    .repo p {
        text-align: left;
    }
}

/********
* Popup *
********/

.repo .popover-container {
    position: absolute;
    right: 50%;
    bottom: -12px;
    pointer-events: none;
}

.repo .popover-container .popover-content {
    background: rgba(51, 51, 51, 0.9);
    border-radius: 3px;
    bottom: 50px;
    color: #fff;
    box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
    font-size: 14px;
    font-family: 'Open Sans', 'Droid Sans', Helvetica, sans-serif;
    margin-right: 8px;
    opacity: 0;
    padding: 6px 12px;
    pointer-events: none;
    position: relative;
    right: -50%;
    text-align: left;
    visibility: hidden;
    transition: visibility 0s 250ms, opacity 250ms;
    z-index: 999;
}

.repo .popover-container .popover-content::before,
.repo .popover-container .popover-content::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    width: 0;
    height: 0;
    border: 6px outset transparent;
}

.repo .popover-container .popover-content::after {
    bottom: -12px;
    border-top: 6px solid rgba(51, 51, 51, 0.9);
}

.repo .fab:hover .popover-container .popover-content {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
    transition: opacity 250ms;
}

.repo .popover-container .popover-content strong {
    display: inline-block;
    margin: 15px;
    margin-bottom: 10px;
}

.repo .popover-container .popover-content ul {
    margin: 5px 0;
    padding: 0;
    max-height: 500px;
    overflow: auto;
}

@media (max-height: 700px) {
    .repo .popover-container .popover-content ul {
        max-height: 300px;
    }
}

@media (max-height: 450px) {
    .repo .popover-container .popover-content ul {
        max-height: 200px;
    }
}

.repo .popover-container .popover-content ul li {
    display: block;
    margin: 0;
}

.repo .popover-container .popover-content ul li a {
    display: block;
    padding: 5px 15px;
}

.repo .popover-container .popover-content ul li a:hover {
    background-color: #e0e0e0;
}

.repo .popover-container .popover-content hr {
    background: #e0e0e0;
    height: 1px;
    border: 0;
}

.repo .popover-container .popover-content h2 {
    text-align: center;
    font-size: 18px;
}

.repo .popover-container .popover-content h3 {
    font-size: 16px;
    margin: 0 0 6px;
    opacity: 1;
}
