/*********************************************
* Copyright 2016 elementary LLC.             *
* This file is part of houston.elementary.io *
*********************************************/

.alert h3,
.alert p {
    margin: 12px 0;
}

/*************************
* Floating Action Button *
*************************/

.fab {
    background-color: #f9c440;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 30px;
    position: relative;
    transition: all 150ms ease-in-out;
    vertical-align: middle;
    width: 30px;
}

.fab.tag {
    background-color: #f3f3f3;
    color: #888;
}

.fab.success {
    background-color: #68b723;
}

.fab.warn {
    background-color: #888;
}

.fab.error {
    background-color: #da4d45;
}

.fab > i {
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    width: 30px;
}

.fab.tag > i {
    -webkit-text-fill-color: #f3f3f3;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #888;
}

#gitter {
    align-self: flex-end;
    margin: 0 16px;
}

#gitter .fab {
    background-color: #4d4267;
    box-shadow:
        0 3px 6px rgba(0, 0, 0, 0.16),
        0 3px 6px rgba(0, 0, 0, 0.23);
    height: 40px;
    width: 40px;
}

#gitter .fab > i {
    line-height: 40px;
    width: 40px;
    font-size: 18px;
}

#gitter .fab:hover {
    box-shadow:
        0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-1px);
}

/************
* Repo list *
************/

.repo {
    color: #333;
    display: block;
    padding: 24px;
}

.repo:nth-of-type(even) {
    background-color: #fafafa;
}

.repo__container {
    align-content: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    width: 100%;
}

.repo p a {
    color: #333;
    opacity: 0.65;
}

.repo p a:hover {
    color: #08c;
    opacity: 1;
}

.repo__icon,
.repo__body,
.repo__action {
    padding: 4px;
}

.repo__icon .app-icon {
    height: 64px;
    vertical-align: middle;
    width: 64px;
}

.repo__body p {
    margin: 0;
    overflow: hidden;
    padding: 2px 0;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.repo__action {
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.repo__action .button {
    font-size: 12px;
    padding: 6px 12px;
    position: relative;
}

.repo__action .button,
.repo__action .fab {
    margin: 6px;
}

@media only screen and (min-width: 600px) {
    .repo__container {
        flex-direction: row;
        flex-wrap: nowrap;
        max-width: 700px;
        text-align: left;
    }

    .repo__icon,
    .repo__action {
        flex: 0 0 auto;
    }

    .repo__body {
        flex: 1 1 auto;
        min-width: 0;
    }

    .repo__body p {
        text-align: left;
    }

    .repo__action > * {
        align-self: center;
    }
}

/********
* Popup *
********/

.repo .popover-container {
    position: absolute;
    right: 50%;
    bottom: -12px;
    pointer-events: none;
}

.repo .popover-container .popover-content {
    background: rgba(51, 51, 51, 0.9);
    border-radius: 3px;
    bottom: 50px;
    color: #fff;
    box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
    font-size: 14px;
    font-family: 'Open Sans', 'Droid Sans', Helvetica, sans-serif;
    margin-right: 8px;
    opacity: 0;
    padding: 6px 12px;
    pointer-events: none;
    position: relative;
    right: -50%;
    text-align: left;
    visibility: hidden;
    transition: visibility 0s 250ms, opacity 250ms;
    z-index: 999;
}

.repo .popover-container .popover-content::before,
.repo .popover-container .popover-content::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    width: 0;
    height: 0;
    border: 6px outset transparent;
}

.repo .popover-container .popover-content::after {
    bottom: -12px;
    border-top: 6px solid rgba(51, 51, 51, 0.9);
}

.repo .fab:hover .popover-container .popover-content {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
    transition: opacity 250ms;
}

.repo .popover-container .popover-content strong {
    display: inline-block;
    margin: 15px;
    margin-bottom: 10px;
}

.repo .popover-container .popover-content ul {
    margin: 5px 0;
    padding: 0;
    max-height: 500px;
    overflow: auto;
}

@media (max-height: 700px) {
    .repo .popover-container .popover-content ul {
        max-height: 300px;
    }
}

@media (max-height: 450px) {
    .repo .popover-container .popover-content ul {
        max-height: 200px;
    }
}

.repo .popover-container .popover-content ul li {
    display: block;
    margin: 0;
}

.repo .popover-container .popover-content ul li a {
    display: block;
    padding: 5px 15px;
}

.repo .popover-container .popover-content ul li a:hover {
    background-color: #e0e0e0;
}

.repo .popover-container .popover-content hr {
    background: #e0e0e0;
    height: 1px;
    border: 0;
}

.repo .popover-container .popover-content h2 {
    text-align: center;
    font-size: 18px;
}

.repo .popover-container .popover-content h3 {
    font-size: 16px;
    margin: 0 0 6px;
    opacity: 1;
}
