/*********************************************
* Copyright 2016 elementary LLC.             *
* This file is part of houston.elementary.io *
*********************************************/

/******
* NAV *
******/

nav {
    background-color: #4d4267;
    color: #fff;
    fill: #fff;
    overflow-y: hidden;
}

nav .avatar {
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    box-shadow:
        inset 0 0 0 1px rgba(255, 255, 255, 0.05),
        inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
        inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
    height: 32px;
    vertical-align: middle;
    margin: 0 16px 6px 8px;
    width: 32px;
}

nav#secondary {
    background-color: #f5f5f5;
    color: #333;
    font-size: 14px;
    height: 48px;
}

@media only screen and (min-width: 1024px) {
    nav#secondary ul {
        display: flex;
        flex: 0 0 33%;
        justify-content: center;
    }

    nav#secondary ul:first-child {
        justify-content: flex-start;
    }

    nav#secondary ul:last-child {
        justify-content: flex-end;
    }
}

.form {
    align-items: stretch;
    display: flex;
    flex-direction: column;
}

.form--horizontal {
    flex-direction: row;
    flex-wrap: wrap;
}

.form__block {
    align-items: stretch;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1 1 auto;
    margin: 12px;
}

.form__error {
    color: #da4d45;
    font-size: 14px;
    text-align: center;
}

.form__label {
    align-self: center;
    flex: 0 0 auto;
    margin: 12px;
}

.form__input {
    flex: 1 1 auto;
}

.form__button {
    flex: 1 1 auto;
    margin: 0;
    padding: 8px 16px;
}

.scrollbox {
    overflow-y: scroll;
    max-height: 70vh;
}

.two-thirds.action-area {
    text-align: right;
}
