a(href="/project/" + project.name + "/cycle")
  i.fab.error.fa.fa-exclamation-circle
    div.popover-container
      div.popover-content
        h3 Error Encountered Processing #{project.name}.
        p This is most likely a problem with this website.
