a(href="/project/" + project.name + "/cycle")
  div.button
    i.fa.fa-exclamation-circle
    div.popover-container
      div.popover-content
        h2 Error Encountered Processing #{project.name}.
        p This is most likely a problem with this website.
