a(href="/project/" + project.name.domain + "/cycle")
  div.fab.error
    i.fa.fa-exclamation-circle
    div.popover-container
      div.popover-content
        h3 Error Encountered Processing #{project.name.human}.
        p This is most likely a problem with this website.
