a(href="/project/" + project.name + "/cycle")
  div.fab.error
    i.fa.fa-exclamation-circle
    div.popover-container
      div.popover-content
        h2 Error
        p It seems houston had a problem with #{project.name}.
        p This is most likley a problem with houston itself.
