a(href="https://github.com/" + view.project.github.name + "/issues?q=is%3Aissue+is%3Aopen", target="_blank")
  div.button View Issues…
  div.fab.warn
    i.fa.fa-exclamation-triangle
    div.popover-container
      div.popover-content
        h3 #{view.project.name.human} Has Issues That Must Be Resolved
        p Please resolve the filed issue reports and then create a new release in GitHub
