div.fab.success
  i.fa.fa-rocket
  div.popover-container
    div.popover-content
      h2 Already Published
      p #{project.name} is avalible on AppCenter.
      p Just make a new release on GitHub to resubmit #{project.name}.
