a(href="https://github.com/" + project.github.fullName + "/releases/new", target="_blank")
  div.button
    p Create a New Release…
    div.popover-container
      div.popover-content
        h2 Release #{project.name} on GitHub
        p Make sure to use a Semantic Version Number like 1.0.0
