a(href="https://github.com/" + project.github.fullName + "/releases/new", target="_blank")
  div.fab
    i.fa.fa-arrow-right
    div.popover-container
      div.popover-content
        h2 Unreleased Project
        p #{project.name} needs a new release on GitHub.
