a(href="https://github.com/" + project.github.fullName + "/releases/new", target="_blank")
  div.fab
    i.fa.fa-arrow-right
    div.popover-container
      div.popover-content
        h2 Unreleased Project
        p You are on the right track.
        p All you have to do now is make a release on GitHub.
