a(href="https://github.com/" + project.github.fullName + "/releases/new", target="_blank")
  div.fab
    i.fa.fa-arrow-right
    div.popover-container
      div.popover-content
        h2 Release #{project.name} on GitHub
        p Make sure to use a #[a(href="http://semver.org/") Semantic Version Number] like 1.0.0
