a(href="/project/" + project.name + "/init")
  div.fab
    i.fa.fa-check
    div.popover-container
      div.popover-content
        h3 New Project
        p One click and #{project.name} will be ready for AppCenter.
