a(href="https://github.com/" + project.github.fullName + "/releases/new", target="_blank")
  div.button
    p Create a New Release…
  div.fab.warn
    i.fa.fa-tag
    div.popover-container
      div.popover-content
        h3 Release #{project.name} on GitHub
        p Make sure to use a 3 digit version number like 1.0.0
