a(href="https://github.com/" + view.project.github.name + "/releases/new", target="_blank")
  div.button Create a New Release…
  div.fab.tag
    i.fa.fa-tag
    div.popover-container
      div.popover-content
        h3 Release #{view.project.name.human} on GitHub
        p Make sure to use a 3-part SemVer like 1.0.0
