div.fab
  i.fa.fa-user
  div.popover-container
    div.popover-content
      h2 Reviewing
      p #{project.name} is being tested by a human for quality assurance.
      p Sit back and have a drink. We'll let you know if anything is amiss.
