div.fab.busy
  i.fa.fa-user
  div.popover-container
    div.popover-content
      h3 #{project.name} is Being Tested by a Human
      p Sit back and have a drink. We'll let you know if anything is amiss.
