div.fab
  i.fa.fa-refresh.fa-spin
  div.popover-container
    div.popover-content
      h3 Some Checks Haven’t Completed Yet
      p #{view.project.name.human} is being built and automatically tested.
