a(href="/project/" + view.project.name.domain + "/cycle")
  div.button Submit for Review
  div.fab.success
    i.fa.fa-arrow-up
    div.popover-container
      div.popover-content
        p Once #{view.project.name.human} has been reviewed it will automatically be published in AppCenter.
