a(href="/project/" + project.name + "/cycle")
  div.button
    p Submit for Review
  i.fab.success.fa.fa-arrow-up
    div.popover-container
      div.popover-content
        p Once #{project.name} has been reviewed it will automatically be published in AppCenter.
