a(href="/project/" + project.name + "/cycle")
  div.fab.success
    i.fa.fa-arrow-up
    div.popover-container
      div.popover-content
        h3 Submit for Review
        p Once #{project.name} has been reviewed it will automatically be published in AppCenter.
