a(href="/project/" + project.name + "/cycle")
  div.fab
    i.fa.fa-arrow-up
    div.popover-container
      div.popover-content
        h2 Launch
        p Submit for review.
        p Once it has been reviewed it will automatically be published in AppHub.
