a(href="/project/" + project.name + "/cycle")
  div.button
    p Submit for Review
  div.fab.success
    i.fa.fa-arrow-up
    div.popover-container
      div.popover-content
<<<<<<< HEAD
        h3 Submit for Review
=======
>>>>>>> master
        p Once #{project.name} has been reviewed it will automatically be published in AppCenter.
