a(href="/project/" + project.name + "/cycle")
  i.fab.fa.fa-exclamation-circle
    div.popover-container
      div.popover-content
        h2 #{project.name} error
        p It seems houston had a problem with #{project.name}.
        p Please re-run the test, and file an issue with houston if the problem persists.
