a(href="https://github.com/" + project.github.fullName + "/issues?q=is%3Aissue+is%3Aopen+label%3A" + project.github.label)
  i.fab.fa.fa-exclamation-triangle
    div.popover-container
      div.popover-content
        h2 #{project.name} failed
        p It seems #{project.name} failed along the release proccess.
        p No worries though, we have submitted detailed reports on GitHub for you.
