a(href="/project/" + project.name + "/cycle")
  i.fab.fa.fa-arrow-up
    div.popover-container
      div.popover-content
        h2 Launch
        p Click to submit #{project.name} #{project.version} for review.
        p Once it has been reviewed it will automatically be published in AppHub.
