doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0")

    meta(name="description", content="Resources for designing, developing, and publishing apps for elementary OS.")
    meta(name="author", content="elementary, Inc.")
    meta(name="theme-color", content="#4c158a")

    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:site", content="@elementary")
    meta(name="twitter:creator", content="@elementary")

    meta(name="og:title", content="Developer ⋅ elementary")
    meta(name="og:description", content="Resources for designing, developing, and publishing apps for elementary OS.")
    meta(name="og:image", content="https://elementary.io/images/developer/preview.png")

    meta(itemprop="name", content="Developer ⋅ elementary")
    meta(itemprop="description", content="Resources for designing, developing, and publishing apps for elementary OS.")
    meta(itemprop="image", content="https://elementary.io/images/developer/preview.png")

    meta(name="apple-mobile-web-app-title", content="Dashboard")

    link(rel="apple-touch-icon", href="/images/apple-touch-icon.png")

    link(rel="stylesheet", type="text/css", media="all", href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,300italic,400italic|Droid+Sans|Raleway:100,800|Roboto+Mono")
    link(rel="stylesheet", type="text/css", media="all", href="https://pro.fontawesome.com/releases/v5.0.12/css/all.css", integrity="sha384-HX5QvHXoIsrUAY0tE/wG8+Wt1MwvaY28d9Zciqcj6Ob7Tw99tFPo4YUXcZw9l930", crossorigin="anonymous")
    link(rel="stylesheet", type="text/css", media="all", href="https://elementary.io/styles/main.css")
    link(rel="stylesheet", type="text/css", media="all", href="/styles/houston.css")

    block head

    title #{title} &sdot; elementary

    script(async, defer, src="https://stats.elementary.io/js/index.js", data-domain="developer.elementary.io")

  body
    nav
      div.nav-content
        ul
          li: a(href="https://elementary.io", class="logomark")
            include /partials/svg-logomark
          li: a(href="https://elementary.io/support") Support
          li: a(href="/") Developer
          li: a(href="https://elementary.io/get-involved") Get Involved
          li: a(href="https://elementary.io/store") Store
          li: a(href="https://blog.elementary.io") Blog
        ul.right
          li: a(href="https://www.facebook.com/elementaryos", target="_blank", title="Facebook"): i.fab.fa-facebook-f
          li: a(href="https://mastodon.social/@elementary" target="_blank" rel="noopener"): i.fab.fa-mastodon
          li: a(href="https://www.reddit.com/r/elementaryos", target="_blank", title="Reddit"): i.fab.fa-reddit
          li: a(href="https://elementaryos.stackexchange.com", target="_blank", title="StackExchange"): i.fab.fa-stack-exchange
          li: a(href="https://twitter.com/elementary", target="_blank", title="Twitter"): i.fab.fa-twitter
          li: a(href="https://community-slack.elementary.io" target="_blank" title="Slack"): i.fab.fa-slack

    if user && !hideUser
      nav#secondary
        div.nav-content
          ul
            if policy.ifRole(user, 'USER')
              div
                block actions
                li: a(href="https://github.com/apps/appcenter", target="_blank") Manage Apps…

          ul
            if policy.ifRole(user, 'review')
              div
                li: a(href="/dashboard")
                  i.fa.fa-bar-chart
                  span  Dashboard
                li: a(href="/reviews")
                  i.fa.fa-check-square-o
                  span  Reviews

          ul
            // We can re/move this after beta is over
            if config.houston.version.split('.')[0] < 1
              li: a(href="https://github.com/elementary/houston/issues/new", target="_blank") Send Feedback…

            li: a(href="/auth/logout") Log Out
            if user.avatar
              li: img(src= user.avatar).avatar

    div#content-container
      block body

    footer
      div: p Copyright © #{new Date().getFullYear()} elementary, Inc.
      ul
        li: a(href="https://elementary.io/brand") Brand
        li: a(href="https://elementary.io/privacy-policy") Privacy Policy
        li: a(href="https://elementary.io/team") Team
        li: a(href="https://elementary.io/open-source") Open Source

      script(type="text/javascript", src="https://cdn.jsdelivr.net/g/jquery")
      script(type="text/javascript", src="/scripts/common.js")
      script(type="text/javascript", src="/scripts/app.js")
      block footer
