/**
 * houston/src/client/widget/houston-footer.marko
 * The houston footer markup
 */

<div>
  <p>Copyright © 2017 elementary LLC.</p>
</div>

<ul>
  <li><a href="https://elementary.io/brand">Brand</a></li>
  <li><a href="https://elementary.io/privacy-policy">Privacy Policy</a></li>
  <li><a href="https://elementary.io/team">Team</a></li>
  <li><a href="https://elementary.io/open-source">Open Source</a></li>
</ul>
