/* Copyright 2015 elementary LLC.
*
* This file is part of elementary.io
*/

/******
* NAV *
******/

nav {
    background-color: #3A416F;
    color: #fff;
    fill: #fff;
    position: relative;
    z-index: 100;
}

/**********
* SUB NAV *
**********/

#nav-secondary {
    width: 100%;
    height: 56px;
    line-height: 56px;
    padding: 0 12px;
    background-color: #4A5383;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.12),
                inset 0 1px 2px rgba(0,0,0,0.24);
}

#nav-secondary .left {
    float: left;
}

#nav-secondary .right {
    float: right;
}

#nav-secondary button {
    margin: 0;
    padding: 3px 24px;
}

#nav-secondary span {
    color: #fff;
    margin-right: 12px;
}

.avatar {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
                inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
                inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
                0 1px 3px rgba(0, 0, 0, 0.12),
                0 1px 2px rgba(0,0, 0, 0.24);
  vertical-align: middle;
}

/*********
* Button *
*********/

.dark button.suggested-action,
.dark .button.suggested-action {
    border: none;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
                inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
                inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
                0 1px 0 0 rgba(0, 0, 0, 0.15);
}

.dark button.suggested-action:active,
.dark .button.suggested-action:active {
    background-color: rgba(0, 0, 0, 0.05);
    border-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15),
                0 0 0 1px rgba(0, 0, 0, 0.25),
                0 2px 0 0 rgba(255, 255, 255, 0.10);
}

/***********
* Checkbox *
***********/

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + span {
    display: none;
    height: 14px;
    width: 14px;
    background-image: linear-gradient(to bottom, #f4f4f4 0%, #ffffff 100%);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.05),
                0 1px 0 0 rgba(255, 255, 255, 0.25);
    margin: 6px;
    cursor: pointer;
}

.edit-mode input[type="checkbox"] + span {
    display: inline-block;
}

input[type="checkbox"]:checked + span {
    background-image: url('/images/check-active.svg'),
                      linear-gradient(to bottom, #56c1ec 0%, #45a3e9 100%);
    background-position: center;
    border-color: rgba(0, 84, 133, 0.5);
}

/*******
* Hero *
*******/

section.hero {
    background-color: #3A416F;
    color: #fff;
    text-align: center;
    padding: 10% 0;
    max-width: 100%;
}

section.hero .button.suggested-action{
    max-width: 100%;
}

/************
* Dashboard *
************/

.repo {
    display: block;
    margin: 12px auto;
    color: #333;
    max-width: 500px;
    text-align: left;
    white-space: nowrap;
}

.repo .app-icon {
    height: 64px;
    width: 64px;
    vertical-align: top;
}

.repo .description {
    display: inline-block;
    margin: 6px;
}

.repo p {
    margin: 0;
    padding-bottom: 3px;
}

.repo p.subtext {
    opacity: 0.65;
}

.repo i {
    font-size: 24px;
    color: #fff;
    display: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),
                0 1px 2px rgba(0,0,0,0.24);
    vertical-align: 10px;
    margin-left: 24px;
    text-align: center;
}

.repo i:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
                0 3px 6px rgba(0,0,0,0.23);
}

.repo.needs-release i.fa-tag {
    display: inline-block;
    background-color: #3d9bda;
}

.repo.publish i.fa-arrow-up {
    display: inline-block;
    background-color: #73d216;;
}

.repo.failure i.fa-exclamation-triangle {
    display: inline-block;
    background-color: #fbc02d;
}

.repo.needs-review i.fa-user,
.repo.in-progress i.fa-refresh {
    display: inline-block;
    color: #777;
    box-shadow: none;
}

.repo.in-progress .fa-refresh:before {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.popover {
    display: inline;
}

.popover .popover-content {
    z-index: 999;
    margin-left: 6px;
    bottom: 56px;
    width: auto;
    min-width: 200px;
}

.popover .popover-content h2 {
    text-align: center;
    font-size: 18px;
    margin: 12px;
}

.popover .popover-content p {
    margin: 12px;
}

/**************
* Third Links *
**************/

.third a {
    color: inherit;
}

.third a:hover {
    color: #08C;
    fill: #08C;
}

.third .fa {
    font-size: 32px;
    text-align: center;
    display: block;
}
