/* Copyright 2015 elementary LLC.
*
* This file is part of elementary.io
*/

/******
* NAV *
******/

nav {
    background-color: #3A416F;
    color: #fff;
    fill: #fff;
    position: relative;
    z-index: 100;
}

/**********
* SUB NAV *
**********/

#nav-secondary {
    width: 100%;
    height: 56px;
    line-height: 56px;
    background-color: #4A5383;
    padding: 6px;
    text-align: right;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.12),
                inset 0 1px 2px rgba(0,0,0,0.24);
}

.avatar {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
                inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
                inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
                0 1px 3px rgba(0, 0, 0, 0.12),
                0 1px 2px rgba(0,0, 0, 0.24);
}

/*********
* Button *
*********/

.dark button.suggested-action,
.dark .button.suggested-action {
    border: none;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
                inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
                inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
                0 1px 0 0 rgba(0, 0, 0, 0.15);
}

.dark button.suggested-action:active,
.dark .button.suggested-action:active {
    background-color: rgba(0, 0, 0, 0.05);
    border-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15),
                0 0 0 1px rgba(0, 0, 0, 0.25),
                0 2px 0 0 rgba(255, 255, 255, 0.10);
}

/*******
* Hero *
*******/

section.hero {
    background-color: #3A416F;
    color: #fff;
    text-align: center;
    padding: 10% 0;
    max-width: 100%;
}

section.hero .button.suggested-action{
    max-width: 100%;
}

/*********
* Import *
*********/

.repo {
    display: block;
    padding: 6px;
    border-radius: 6px;
    margin: 12px auto;
    color: #333;
    max-width: 500px;
    text-align: left;
}

.repo:focus {
    background-color: rgba(0, 0, 0, 0.20);
}

.repo .app-icon {
    height: 64px;
    width: 64px;
    vertical-align: top;
}

.repo .description {
    display: inline-block;
    margin: 6px;
}

.repo p {
    margin: 0;
    padding-bottom: 3px;
}

.repo p.subtext {
    opacity: 0.65;
}

/**************
* Third Links *
**************/

.third a {
    color: inherit;
}

.third a:hover {
    color: #08C;
    fill: #08C;
}

.third .fa {
    font-size: 32px;
    text-align: center;
    display: block;
}
