/* Copyright 2015 elementary LLC.
*
* This file is part of elementaryos.org
*/

html,
body {
    font-family: "Open Sans", "Droid Sans", Helvetica, sans-serif;
    background-color: #fff;
    color: #333;
    fill: #333;
    margin: 0;
    font-weight: 400;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/**************
* Text Styles *
**************/

a {
    color: #08C;
    fill: #08C;
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: underline;
}

h1 {
    font-family: "Raleway";
    font-size: 32px;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 16px;
}

@media (min-width: 966px) {
    h1 {
        font-size: 48px;;
    }
}

h2 {
    font-size: 32px;
    font-weight: 600;
    margin: 0 0 28px 0;
    padding: 0;
}

h3 {
    font-size: 24px;
    opacity: 0.8;
    font-weight: 600;
}

h4 {
    font-size: 18px;
    font-weight: 300;
    margin-top: 16px;
    margin-bottom: 16px;
}

h5 {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 3px;
    margin-top: 0;
}

p {
    text-align: left;
}

p.small-label {
    margin: 0;
    padding: 0;
    font-size: 12px;
    opacity: 0.8;
    text-align: center;
}

img {
    max-width: 100%;
}

.read-more:after {
    content: "";
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: inherit;
    color: inherit;
    padding-left: 6px;
    position: absolute;
    margin-top: 0.20em;
    -webkit-transition: padding 0.15s ease-in-out;
    -o-transition: padding 0.15s ease-in-out;
    transition: padding 0.15s ease-in-out;
}

.read-more:hover:after {
    padding-left: 10px;
}

/*********
* Button *
*********/

button,
.button {
    display: inline-block;
    margin: 24px;
    padding: 16px 32px;
    text-align: center;
    max-width: 250px;

    font-size: 14px;
    font-family: inherit;
    text-decoration: none;
    color: #333;

    background-color: transparent;
    background-image: linear-gradient(to bottom,
                                  transparent,
                                  transparent 50%,
                                  rgba(0, 0, 0, 0.04)
                                  );

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;

    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
                inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
                inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
                0 1px 0 0 rgba(255, 255, 255, 0.15);

    text-shadow: 0 1px rgba(255, 255, 255, 0.4);

    transition: all 100ms ease-in;

    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

button:focus,
.button:focus {
    border-color: rgba(77, 156, 209, 0.8);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
                inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
                inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
                0 3px 6px rgba(12,128,200,0.16),
                0 3px 6px rgba(12,128,200,0.23);
    text-decoration: none;
}

button:active,
.button:active,
button.active,
.button.active,
.target-amount.checked {
    background-color: rgba(0, 0, 0, 0.05);
    background-image: none;
    border-color: rgba(0, 0, 0,, 0.25);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05),
                0 1px 0 0 rgba(255, 255, 255, 0.30);
}

button.suggested-action,
.button.suggested-action {
    background-color: #64B9F1;
    background-image: linear-gradient(to bottom, #75C6FD, #53ABE5);
    border-color: #4D9CD1;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

.dark button.suggested-action,
.dark .button.suggested-action {
    border: none;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
                inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
                inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
                0 1px 0 0 rgba(0, 0, 0, 0.15);
}

/*********************
* Stupid simple grid *
*********************/

section {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2% 0;
}

.third {
    display: inline-block;
    padding: 3em;
    vertical-align: top;
}

.third a {
    color: inherit;
}

.third a:hover {
    color: #08C;
    fill: #08C;
}

.third a p {
    text-align: center;
}

.third h3{
    text-align: center;
}

.third i.fa {
    font-size: 32px;
    text-align: center;
    display: block;
}

@media (min-width: 800px) {
    .third{
        width: 33%;
    }
}


/*******
* Hero *
*******/

section.hero {
    background-color: #3A416F;
    color: #fff;
    text-align: center;
    padding: 10% 0;
    max-width: 100%;
}

section.hero .button.suggested-action{
    display: inline-block;
    margin: 2em;
    max-width: 100%;
    font-size: 1rem;
}

/********************
* Secondary Section *
********************/

section.secondary {
    background-color: #eee;
    max-width: 100%;
}


